<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>	
	<head>
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}main.css" type="text/css" />
	</head>
	<body>
		<div id="Logo" class="authLogo">
				
		</div>
		<div id="auth" class="auth">	
			<div id="logout" class="authConent">	
				<p>
					Благодарим вас за использование нашей системы.
					<br/>
					<br/>
					Вы можете
					<a href="/accounts/login/">Войти вновь</a>
				</p>
				
			</div>
		</div>
	</body>
</html>
