{% extends "base.html" %}

{% block navi %}
	{% include "tests/bug_navigation.html" %}
{% endblock %}

{% block content %}
	<table class="table">
		<tr>
			<td>date_opened</td>
			<td>{{ bug.date_opened }}</td>
		</tr>
		
		<tr>
			<td>date_closed</td>
			<td>{{ bug.date_closed }}</td>
		</tr>

		<tr>
			<td>author</td>
			<td>{{ bug.author }}</td>
		</tr>

		<tr>
			<td>traceback</td>
			<td>{{ bug.traceback }}</td>
		</tr>
		
		<tr>
			<td>test_case</td>
			<td><a href="{{ bug.test_case.get_absolute_url }}">{{ bug.test_case }}</a></td>
		</tr>
		
		<tr>
			<td>gt</td>
			<td><a href="{{ bug.gt.get_absolute_url }}">{{ bug.gt }}</a></td>
		</tr>

	</table>
{% endblock %}