{% extends "base.html" %}

{% block navi %}
	{% include "tests/bug_navigation.html" %}
{% endblock %}

{% block content %}
	<table class="table table-condensed">
		{% if object_list %}
		<tr>
			<th>bug</th>
			<th>author</th>
			<th>case</th>
		<tr>
		{% endif %}
		{% for bug in object_list %}
			<tr>
				<td> <a href="{{ bug.get_absolute_url }}">{{ bug }}</a> </td>
				<td> <a href="{{ bug.author.get_absolute_url }}"> {{ bug.author }}</a> </td>
				<td> <a href="{{ bug.test_case.get_absolute_url }}"> {{ bug.test_case }} </a> </td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}