{% extends "base.html" %}

{% block navi %}
	{% include "tests/bug_navigation.html" %}
{% endblock %}

{% block content %}

	<form method="POST" enctype="multipart/form-data">{% csrf_token %}
		<label>{{form.author.label}}</label>
		{{ form.author }}
		{{ form.author.errors }}

		<label>{{form.traceback.label}}</label>
		{{ form.traceback }}
		{{ form.traceback.errors }}

		<label>{{form.test_case.label}} case</label>
		{{ form.test_case }}
		{{ form.test_case.errors }}

		<label>{{form.gt.label}} testing</label>
		{{ form.gt }}
		{{ form.gt.errors }}

		<button type="submit" class="btn"> Submit </button>
	</form>
{% endblock %}