{% extends "base.html" %}

{% block navi %}
	{% include "tests/globaltesting_navigation.html" %}
{% endblock %}

{% block content %}
	<font size="4">{{ globaltesting }}</font><br>
	<font size="2">from <b>{{ globaltesting.date_start }}</b> until <b>{{ globaltesting.date_finish }}</b></font><br><br>

	<div class="kamen-data" id="kamen-data">
        <font size="4"> CLICK HERE </font>
    </div>

	<table class="table table-condensed">
		<tr>
			<td>Author</td>
			<td><a href="{{ globaltesting.author.get_absolute_url }}">{{ globaltesting.author }}</a></td>
		</tr>
		<tr>
			<td>Testers</td>
			<td>
				{% for tester in globaltesting.testers.all %}
					<a href="{{ tester.get_absolute_url }}">{{ tester }}</a>;
				{% endfor %}
			</td>
		</tr>
		<tr>
			<td>Cases count</td>
			<td> 
				<div class="cases_count">
					{{ gtvalues.get_cases_count }}
				</div>
			</td>
		</tr>
		<tr>
			<td>Passed cases count</td>
			<td> 
				<div class="passed_cases_count">
					{{ gtvalues.get_passed_cases_count }}
				</div>
			</td>
		</tr>
		<tr>
			<td>Failed cases count</td>
			<td> 
				<div class="failed_cases_count">
					{{ gtvalues.get_failed_cases_count }}
				</div>
			</td>
		</tr>
		<tr>
			<td>Time remains</td>
			<td> 
				<div class="seconds_remains">
					{{ gtvalues.get_seconds_remains }}
				</div>
			</td>
		</tr>
		<tr>
			<td>Elapsed time</td>
			<td> 
				<div class="elapsed_seconds">
					{{ gtvalues.get_elapsed_seconds }}
				</div>
			</td>
		</tr>
		<tr>
			<td>Avg speed (case per second) </td>
			<td> 
				<div class="avg_speed">
					{{ gtvalues.get_avg_speed }}
				</div>
			</td>
		</tr>
		<tr>
			<td>Required avg speed</td>
			<td> 
				<div class="required_avg_speed">
					{{ gtvalues.get_required_avg_speed }}
				</div>
			</td>
		</tr>
	</table>
	{% include 'tests/globaltesting_chart.html' %}	
{% endblock %}