{% extends "base.html" %}

{% block navi %}
	{% include "tests/globaltesting_navigation.html" %}
{% endblock %}

{% block content %}

	<form method="POST" action="/tests/gt/add/" enctype="multipart/form-data">{% csrf_token %}
			
		<label>{{ form.author.label }}</label>
		{{ form.author }}
		{{ form.author.errors }}
		<br><br>	
		<label>{{ form.testers.label }}</label>
		{{ form.testers }}
		{{ form.testers.errors }}
		<br><br>	
		<label>{{ form.cases.label }}</label>
		{{ form.test_cases }}
		{{ form.test_cases.errors }}
		<br><br>	
		<label>{{ form.date_start.label }}</label>
		{{ form.date_start }}
		{{ form.date_start.errors }}
		<br><br>	
		<label>{{ form.date_finish.label }}</label>
		{{ form.date_finish }}
		{{ form.date_finish.errors }}
		<br><br>			
		<button type="submit" class="btn"> Submit </button>
	</form>
{% endblock %}