{% extends "base.html" %}

{% block navi %}
	{% include "tests/gt_navigation.html" %}
{% endblock %}

{% block content %}

	<form method="POST" action="/tests/gt/add/" enctype="multipart/form-data">{% csrf_token %}
		<table>
			<tr>
				<td>Author</td>
				<td>{{ form.author }}</td>
				<td>{{ form.author.errors }}</td>
			</tr>
			<tr>
				<td>testers</td>
				<td>{{ form.testers }}</td>
				<td>{{ form.testers.errors }}</td>
			</tr>
			<tr>
				<td>cases</td>
				<td>{{ form.test_cases }}</td>
				<td>{{ form.test_cases.errors }}</td>
			</tr>
			<tr>
				<td>date_start</td>
				<td>{{ form.date_start }}</td>
				<td>{{ form.date_start.errors }}</td>
			</tr>
			<tr>
				<td>date_finish</td>
				<td>{{ form.date_finish }}</td>
				<td>{{ form.date_finish.errors }}</td>
			</tr>
		</table>
		<input type="submit">
	</form>
{% endblock %}