{% extends "base.html" %}

{% block navi %}
	{% include "tests/testsuit_navigation.html" %}
{% endblock %}

{% block content %}

	<form method="POST" action="/tests/suit/add/" enctype="multipart/form-data">{% csrf_token %}
		<label> {{form.author.label }} </label>
		{{ form.author }}
		{{ form.author.errors }}
		<br><br>

		<label> {{form.producer.label }} </label>
		{{ form.producer }}
		{{ form.producer.errors }}
		<br><br>

		<label> {{form.overview.label }} </label>
		{{ form.overview }}
		{{ form.procedure.errors }}
		<br><br>

		<label> {{form.global.label }} setup </label>
		{{ form.global_setup }}
		{{ form.global_setup.errors }}
		<br><br>

		<label> {{form.spec.label }} </label>
		{{ form.spec }}
		{{ form.spec.errors }}
		<br><br>
		<button type="submit" class="btn"> Submit </button>
	</form>
{% endblock %}