{% extends "base.html" %}

{% block navi %}
	{% include "tests/testcase_navigation.html" %}
{% endblock %}

{% block content %}
	<form method="POST" action="/tests/case/add/" enctype="multipart/form-data">{% csrf_token %}
		<fieldset>
			<legend>Add case</legend>

			<div class="controls controls-row">
			<label>{{ form.author.label }}</label>
			{{ form.author }}
			{{ form.author.errors }}
			<br><br>								
			<label>{{ form.developer.label }}</label>
			{{ form.developer }}
			{{ form.developer.errors }}
			<br><br>								
			<label>{{ form.producer.label }}</label>
			{{ form.producer }}
			{{ form.producer.errors }}
			<br><br>								
			<label>{{ form.suit.label }} suit</label>
			{{ form.suit }}
			{{ form.suit.errors }}
			<br><br>								
			<label>{{ form.priority.label }}</label>
			{{ form.priority }}
			{{ form.priority.errors }}
			<br><br>								
			<label>{{ form.idea.label }}</label>
			{{ form.idea }}
			{{ form.idea.errors }}
			<br><br>								
			<label>{{ form.procedure.label }}</label>
			{{ form.procedure }}
			{{ form.procedure.errors }}
			<br><br>								
			<label>{{ form.setup.label }}</label>
			{{ form.setup }}
			{{ form.setup.errors }}
			<br><br>								
			<label>{{ form.expected_result.label }} result</label>
			{{ form.expected_result }}
			{{ form.expected_result.errors }}
			<br><br>				
			<button type="submit" class="btn"> Submit </button>
		</fieldset>
	</form>
{% endblock %}