{% extends "base.html" %}

{% block navi %}
	{% include "tests/testcase_navigation.html" %}
{% endblock %}

{% block content %}
	<table class="table-bordered">
		<tr>
			<td>author</td>
			<td>{{ testcase.author }}</td>
		</tr>
		
		<tr>
			<td>developer</td>
			<td>{{ testcase.developer }}</td>
		</tr>
		
		<tr>
			<td>producer</td>
			<td>{{ testcase.producer }}</td>
		</tr>
		
		<tr>
			<td>suit</td>
			<td>{{ testcase.suit }}</td>
		</tr>
		
		<tr>
			<td>priority</td>
			<td>{{ testcase.priority }}</td>
		</tr>
		
		<tr>
			<td>setup</td>
			<td>{{ testcase.setup }}</td>
		</tr>
		
		<tr>
			<td>idea</td>
			<td>{{ testcase.idea }}</td>
		</tr>
		
		<tr>
			<td>procedure</td>
			<td>{{ testcase.procedure }}</td>
		</tr>
		
		<tr>
			<td>expected_result</td>
			<td>{{ testcase.expected_result }}</td>
		</tr>
		
		<tr>
			<td>status</td>
			<td>{{ testcase.status }}</td>
		</tr>
		
		<tr>
			<td>date_created</td>
			<td>{{ testcase.date_created }}</td>
		</tr>
		
		<tr>
			<td>date_modified</td>
			<td>{{ testcase.date_modified }}</td>
		</tr>
	</table>

	{% if testcase.get_bugs %}
		<font size="2">With bugs:</font> 
		{% for bug in testcase.get_bugs %}
			<font size="2"><a href="{{ bug.get_absolute_url }}">{{ bug }}</a>; </font>
		{% endfor %}
	{% else %}
		<font size="2">nothing added</font>
	{% endif %}
	<br><br>
	<font size="2"><a href="/tests/bug/add/{{ testcase.id }}/">Open bug</a></font>

{% endblock %}