{% extends "base.html" %}

{% block navi %}
	{% include "tests/testsuit_navigation.html" %}
{% endblock %}

{% block content %}
	<a href="/tests/case/add/?based_on={{ testsuit.id }}">Attach case</a>
	<table class="table table-condensed">
		<tr>
			<td>ID</td>
			<td>{{ testsuit.id }}</td>
		</tr>
		<tr>
			<td>Author</td>
			<td><a href="{{ testsuit.author.get_absolute_url }}"> {{ testsuit.author }} </a> </td>
		</tr>
		<tr>
			<td>Producer</td>
			<td><a href="{{ testsuit.producer.get_absolute_url }}"> {{ testsuit.producer }} </a> </td>
		</tr>
		<tr>
			<td>Overview</td>
			<td>{{ testsuit.overview }}</td>
		</tr>
		<tr>
			<td>Global setup</td>
			<td>{{ testsuit.global_setup }}</td>
		</tr>
		<tr>
			<td>Spec</td>
			<td>{{ testsuit.spec }}</td>
		</tr>
		<tr>
			<td>Cases</td>
			<td>
				{% if testsuit.get_cases %}
					{% for case in testsuit.get_cases %}
						<span class="badge badge-inverse"><a href="{{ case.get_absolute_url }}">{{ case }}</a></span>
					{% endfor %}
				{% else %}
					---
				{% endif %}
			</td>
		</tr>
		<tr>
			<td>Status</td>
			<td>{{ testsuit.status }}</td>
		</tr>
	</table>


{% endblock %}