{% extends "base.html" %}

{% block navi %}
	{% include "tests/testsuit_navigation.html" %}
{% endblock %}

{% block content %}
	<table class="table table-condensed">
		{% if object_list %}
		<tr>
			<th>suit</th>
			<th>author</th>
			<th>cases</th>
		<tr>
		{% endif %}
		{% for suit in object_list %}
			<tr>
				<td>
					<a href="{{ suit.get_absolute_url }}">{{ suit }}</a>
				</td>
				<td>
					<a href="{{ suit.author.get_absolute_url }}"> {{ suit.author }} </a>
				</td>
				<td>
					{% if suit.get_cases %}
						{% for case in suit.get_cases %}
							<span class="badge badge-inverse"><a href="{{ case.get_absolute_url }}">{{ case }}</a></span>
						{% endfor %}
					{% else %}
						empty
					{% endif %}
				</td>
			<tr>
		{% endfor %}
	<table>
{% endblock %}
